In [43]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

#import getpass  # to get the password without showing the input
#password = getpass.getpass()

In [44]:
engine = pymysql.connect(user='root', password='Parag@123',
                              host='127.0.0.1',database='sakila')

In [45]:
# Check the number of rentals for each customer for May
query_may = """
    SELECT customer_id, COUNT(rental_id) as n_rentals
    FROM rentals_may
    GROUP BY customer_id
    ORDER BY customer_id
"""
df_may = pd.read_sql_query(query_may, engine)
df_may = df_may.set_index('customer_id')
df_may.head()

             n_rentals
customer_id
1                    2
2                    1
3                    2
5                    3
6                    3

In [46]:
# Check the number of rentals for each customer for June
query_june = """
    SELECT customer_id, COUNT(rental_id) as n_rentals
    FROM rentals_june
    GROUP BY customer_id
    ORDER BY customer_id
"""
df_june = pd.read_sql_query(query_june, engine)
df_june = df_june.set_index('customer_id')
df_june.head()

             n_rentals
customer_id
1                    7
2                    1
3                    4
4                    6
5                    5

In [47]:
# merge data
df = pd.merge(df_may, df_june,
              left_index=True, right_index=True) # inner join by default
df.columns = ['n_rentals_may', 'n_rentals_june']
df.head()

             n_rentals_may  n_rentals_june
customer_id
1                        2               7
2                        1               1
3                        2               4
5                        3               5
6                        3               4

In [48]:
# function
def more_on_june(df):
    if df.n_rentals_june > df.n_rentals_may:
        return True
    else:
        return False

In [49]:
df['more_on_june'] = df.apply(more_on_june, axis=1)
df.more_on_june.value_counts()

True     358
False    154
Name: more_on_june, dtype: int64